<h1>Dashboard</h1>

<div class="row placeholders">
   <div class="col-xs-6 col-sm-3 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
   <div class="col-xs-6 col-sm-3 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
</div>