<div class="container">
  
  <%= render 'shared/top_nav' %>

  <div class="jumbotron" style="background-image:url('http://res.cloudinary.com/medio/image/upload/o_20,r_0/v1447956094/dyoo2_hrigfc.jpg'); background-repeat: no-repeat; background-position: right">
    <h1>WidyoBumi</h1>
    <p class="lead">Web Creative, Ruby on Rails & Full Stack Developer, <br>as ordinary people who love peace live and harmony, <br>make better world with love and care each others.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">My Profile</a></p>
  </div>

  <div id="rounds-front" class="row placeholders">
   <div class="col-xs-8 col-sm-4 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Daily Live</h4>
     <span class="text-muted">Everyday of mine</span>
   </div>
   <div class="col-xs-8 col-sm-4 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
   <div class="col-xs-8 col-sm-4 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div>
   <!-- <div class="col-xs-6 col-sm-3 placeholder text-center">
     <img src="http://placehold.it/150x150" class="img-circle" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
   </div> -->
  </div>
  
  <div id="main-container" class="container">
    <% @posts.each do |post| %>
    <div id="post" class="row">
    <!-- icon -->
      <div id="icon-post" class="col-lg-1"><img src="http://res.cloudinary.com/medio/image/upload/c_scale,w_55/v1448699566/Icon_WriteArticles_jp2egk.png" alt=""></div>
    <!-- kolom post -->  
      <div id="kolom-post" class="col-lg-8">
        <a href=""><h3><%= post.name %></h3></a>
        <small><%= post.created_at %></small>
        <div><%= raw post.content %></div>
      </div>
    <!-- kolom right -->  
      <div id="kolom-right" class="col-lg-3">
        Kolom Right
      </div>
    </div>
    <% end %>
  </div>

  <footer class="footer">
    <p>&copy; Company 2014</p>
  </footer>

</div> <!-- /container -->

