<h1>General Notes</h1>

The following code block is what I would like to syntax highlight:
<pre>
    // Define our Function
    function checkMeaningOfLife ( decimal, success ) {
        if ( parseInt(decimal,10) === 42 ) {
            window.console.log(success);
        }
    };
    // Define our Variables
    var str = 'The meaning of life is true',
        decimal = 42.00;
    // Fire our Function
    checkMeaningOfLife(decimal,success);
</pre>

The following code block is what I would like to syntax highlight:
<pre class="highlight">
    // Define our Function
    function checkMeaningOfLife ( decimal, success ) {
        if ( parseInt(decimal,10) === 42 ) {
            window.console.log(success);
        }
    };
    // Define our Variables
    var str = 'The meaning of life is true',
        decimal = 42.00;
    // Fire our Function
    checkMeaningOfLife(decimal,success);
</pre>

<pre class="language-html">
    <span>
        I'm a span element. I hope I've been escaped properly... as otherwise I will be :-( and the browser will be :-O
    </span>
</pre>

<pre class="language-html">
    &lt;span&gt;
        I'm a span element. I hope I've been escaped properly... as otherwise I will be :-( and the browser will be :-O
    &lt;/span&gt;
</pre>

<pre class="code language-html">
    &lt;span&gt;
        I'm a span element. I hope I've been escaped properly... as otherwise I will be :-( and the browser will be :-O
    &lt;/span&gt;
</pre>

